<style type="text/css">
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input[readonly] {
	background-color: white !important;
	cursor: text !important;
}
</style>
	
	<div class="form-group">
	  <label class="control-label" for="productTitle">Title</label>
	  <div class="controls">
	    <input required="true" class="form-control" name="product[title]" type="text" id="productTitle" placeholder="Enter an awesome name" value="<%= @product.title unless @product.nil? %>"/>
	  </div>
	</div>
	
		<div class="form-group">
		  <label class="control-label" for="productCode">Code</label>
		  <div class="controls">
			 <%= select("product", "product_code_id", ProductCode.all.to_a.collect {|p| [ p.name, p.id ] }, {include_blank: true }) %>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label" for="productModelNumber">Model Number</label>
		  <div class="controls">
		    <input required="true" class="form-control" name="product[model_number]" type="text" id="productModelNumber" placeholder="1" value="<%= @product.model_number unless @product.nil? %>"/>
		  </div>
		</div>

		<div class="form-group">
		  <label class="control-label" for="productVariationNumber">Variation</label>
		  <div class="controls">
		    <input required="true" class="form-control" name="product[variation_number]" type="text" id="productVariationNumber" placeholder="1" value="<%= @product.variation_number unless @product.nil? %>"/>
		  </div>
		</div>

	<% if action == 'create'%>
		<br>
		<div class="form-group">
  		  <div class="controls">
			  <div class = "simple">
				<input type="radio" name="typeChoiceRadioGroup" value="SL" id="radio">SL</input>
				<input type="radio" name="typeChoiceRadioGroup" value="Palette">Palette</input>
			  </div>
			</div>
		</div>
		<br>
		<div class="form-group" id="slColorFormControl">
		  <label class="control-label" for="productColorCode">Squadro Laminate Color</label>
		  <div class="controls">
			 <%= select("product", "color", Color.all.to_a.collect {|c| [c.code, c.id]}, {include_blank: 'None'})%>
		  </div>
		</div>
    
		<div class="form-group" id="paletteFormControl">
		  <label class="control-label" for="productPaletteCode">Palette</label>
		  <div class="controls">
			 <%= select("product", "palette", Palette.all.to_a.collect {|p| [p.code, p.id]}, {include_blank: 'None'})%>
		  </div>
		</div>
		
	<% elsif action == 'update'%>
	
		<div class="form-group">
		  <label class="control-label" for="productPaletteSLCode">Palette/SL code (non-editable)</label>
		  <div class="controls">
  			 <label> <%= @product.palette_or_color unless @product.nil? %> </label>
		  </div>
		</div>
		<br>
	<% end %>
	
	<div class="form-group">
	  <label class="control-label" for="productPricing">Pricing</label>
	  <div class="controls">
	    <input required="true" class="form-control" name="product[pricing]" type="text" id="productPricing" placeholder="1" value="<%= @product.pricing unless @product.nil? %>"/>
	  </div>
	</div>

	
	<div class="form-group">
	  <label class="control-label" for="productShortDescription">Short Description</label>
	  <div class="controls">
	    <input required="true" class="form-control" name="product[short_description]" type="text" id="productShortDescription" placeholder="A short description" value="<%= @product.short_description unless @product.nil? %>"/>
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="control-label" for="productLongDescription">Long Description</label>
	  <div class="controls">
	    <textarea rows="5" cols="100" class="form-control" name="product[long_description]" type="text" id="productLongDescription" placeholder="A very long description of the product"><%= @product.long_description unless @product.nil? %></textarea>
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="control-label" for="productLength">Length</label>
	  <div class="controls">
	    <input required="true" class="form-control" name="product[length]" type="text" id="productLength" placeholder="Length in mm" value="<%= @product.length unless @product.nil? %>"/>
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="control-label" for="productHeight">Height</label>
	  <div class="controls">
	    <input required="true" class="form-control" name="product[height]" type="text" id="productHeight" placeholder="Height in mm" value="<%= @product.height unless @product.nil? %>"/>
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="control-label" for="productDepth">Depth</label>
	  <div class="controls">
	    <input required="true" class="form-control" name="product[depth]" type="text" id="productDepth" placeholder="Breadth in mm" value="<%= @product.depth unless @product.nil? %>"/>
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="control-label" for="productWeight">Weight</label>
	  <div class="controls">
	    <input required="true" class="form-control" name="product[weight]" type="text" id="productWeight" placeholder="Weight in kg" value="<%= @product.weight unless @product.nil? %>"/>
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="control-label" for="productMaterialType">Material type</label>
	  <div class="controls">
		 <%= select("product", "material_type", Product::MATERIAL_TYPES, {include_blank: 'None'}) %>
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="control-label" for="productMountingType">Mounting type</label>
	  <div class="controls">
		 <%= select("product", "mounting_type", Product::MOUNTING_TYPES, {include_blank: 'None'}) %>
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="control-label" for="productFinishType">Finish type</label>
	  <div class="controls">
		 <%= select("product", "finish_type", Product::FINISH_TYPES, {include_blank: 'None'}) %>
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="control-label" for="productUsageTerms">Usage terms</label>
	  <div class="controls">
	    <textarea rows="5" cols="100" required="true" class="form-control" name="product[usage_terms]" type="text" id="productUsageTerms" placeholder="Enter usage terms"><%= @product.usage_terms unless @product.nil? %></textarea>
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="control-label" for="productCleaningOfProduct">Cleaning instructions</label>
	  <div class="controls">
	    <textarea rows="5" cols="100" required="true" class="form-control" name="product[cleaning_of_product]" type="text" id="productCleaningOfProduct" placeholder="Enter cleaning instructions"><%= @product.cleaning_of_product unless @product.nil? %></textarea>
	  </div>
	</div>

	<div class="form-group">
	  <label class="control-label" for="productWarrantyTerms">Warranty terms</label>
	  <div class="controls">
	    <textarea rows="5" cols="100" class="form-control" name="product[warranty_terms]" type="text" id="productWarrantyTerms" placeholder="Enter warranty terms"><%= @product.warranty_terms unless @product.nil? %></textarea>
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="control-label" for="productWarrantyPeriod">Warranty period</label>
	  <div class="controls">
	    <input required="true" class="form-control" name="product[warranty_period]" type="text" id="productWarrantyPeriod" placeholder="Enter the period in days" value="<%= @product.warranty_period unless @product.nil? %>"/>
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="control-label" for="productLeftAngleRender">Left Angle Render</label>
	  <div class="controls">
	    <input type="text" class="form-control" name="product[left_angle_render_url]" id="productLeftAngleRender" value="<%= @product.left_angle_render_url unless @product.nil?%>"/>
		<%= link_to "Upload", '#', class: "upload_link", id: "productLeftAngleRenderUploadLink" %>
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="control-label" for="productRightAngleRender">Right Angle Render</label>
	  <div class="controls">
	    <input type="text" class="form-control" name="product[right_angle_render_url]" id="productRightAngleRender" value="<%= @product.right_angle_render_url unless @product.nil?%>"/>
		<%= link_to "Upload", '#', class: "upload_link", id: "productRightAngleRenderUploadLink" %>
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="control-label" for="productFrontRender">Front Render</label>
	  <div class="controls">
	    <input type="text" class="form-control" name="product[front_render_url]" id="productFrontRender" value="<%= @product.front_render_url unless @product.nil?%>"/>
		<%= link_to "Upload", '#', class: "upload_link", id: "productFrontRenderUploadLink" %>
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="control-label" for="productDecoratedFrontRender">Decorated Front Render</label>
	  <div class="controls">
	    <input type="text" class="form-control" name="product[decorated_front_render_url]" id="productDecoratedFrontRender" value="<%= @product.decorated_front_render_url unless @product.nil?%>"/>
		<%= link_to "Upload", '#', class: "upload_link", id: "productDecoratedFrontRenderUploadLink" %>
	  </div>
	</div>
	

<script>

$(function() {
	  $('.upload_link').click(function() {
	  	var cur_element = $(this).attr('id');
	 	upload_file(cur_element);
  	 	return false;
	});
});

function upload_file(cur_element)
{
 $('#fileUploaderContainer').attr('data-currenElement', cur_element);
 $('#fileUploaderContainer').modal('show');
 $("#uploadForm").find("input[type=file]").attr("name","uploaded_file");
}

var upload_callback = function(upload_url, cur_element_id){
  //Find the upload link and find the prev field which will be the text field; hence set it!
  $('#'.concat(cur_element_id)).prev().val(upload_url); 
  $("#fileUploaderContainer").modal("hide");
}

$(document).ready(function(){
	$('#slColorFormControl').hide();
	$('#paletteFormControl').hide();
	
    $("input[name=typeChoiceRadioGroup]:radio").change(function(){
        if ($(this).val() == "SL") {
			$('#slColorFormControl').show();
			$('#paletteFormControl').hide();
		}
        else {
			$('#slColorFormControl').hide();
			$('#paletteFormControl').show();
        }
    });
});

</script>