<style type="text/css">
  input[type=text] {
    width: 90%;
}
</style>

<div class="container-fluid" style="padding-top: 60px;padding-bottom: 60px;">
  <div class="row-fluid">
    <div class="col-xs-1">
      &nbsp;
    </div>
    <div class="col-xs-6">
      <h4 style="padding-left: 0px;"><%= @product.model_code + " | " + @product.title %></h4>
		
		
	    <table class="table table-hover">
	      <tr>
	        <th>
	          Title
	        </th>
	        <th>
	          Code
	        </th>
			<th>
			  Palette/SL
			</th>
			<th>
			  Model Number
			</th>
			<th>
			  Variation
			</th>
	      </tr>
		    	<tr class="paletteRow">
	          	  <td><%=raw(@product.title)%></td>
				<td><% product_code = ProductCode.find(@product.product_code_id)%>
				 <%= raw(product_code.name) if product_code.present? %></td>
 				<td><%= raw(@product.model_code)%></td>
	          	<td><%= raw(@product.model_number)%></td>
				<td><%= raw(@product.variation_number)%></td>
	        	</tr>
	    </table>
		
	    <table class="table table-hover">
	      <tr>
	        <th>
	          Pricing
	        </th>
	        <th>
	          Length
	        </th>
			<th>
			  Height
			</th>
			<th>
			  Depth
			</th>
			<th>
			  Weigth
			</th>
	      </tr>
		    <tr class="paletteRow">
	          	<td><%= raw(@product.pricing)%></td>
				<td><%= raw(@product.length)%></td>
	          	<td><%= raw(@product.height)%></td>
				<td><%= raw(@product.depth)%></td>
				<td><%= raw(@product.weight)%></td>
	        </tr>
	    </table>
			
		 	<div class="form-group">
		 	  <label class="control-label" for="productShortDescription">Short Description</label>
		 	  <div class="controls">
  			  	<%= raw(@product.short_description)%>
		 	  </div>
		 	</div>
	
		 	<div class="form-group">
		 	  <label class="control-label" for="productLongDescription">Long Description</label>
		 	  <div class="controls">
  			  <%= raw(@product.long_description)%>
		 	  </div>
		 	</div>
	
		 	<div class="form-group">
		 	  <label class="control-label" for="productMaterialType">Material type</label>
		 	  <div class="controls">
   			  <%= raw(@product.material_type)%>
		 	  </div>
		 	</div>
	
		 	<div class="form-group">
		 	  <label class="control-label" for="productMountingType">Mounting type</label>
		 	  <div class="controls">
   			  <%= raw(@product.mounting_type)%>
		 	  </div>
		 	</div>
	
		 	<div class="form-group">
		 	  <label class="control-label" for="productFinishType">Finish type</label>
		 	  <div class="controls">
   			  <%= raw(@product.finish_type)%>
		 	  </div>
		 	</div>
	
		 	<div class="form-group">
		 	  <label class="control-label" for="productUsageTerms">Usage terms</label>
		 	  <div class="controls">
   			  <%= raw(@product.usage_terms)%>
		 	  </div>
		 	</div>
	
		 	<div class="form-group">
		 	  <label class="control-label" for="productCleaningOfProduct">Cleaning instructions</label>
		 	  <div class="controls">
   			  <%= raw(@product.cleaning_of_product)%>				 
		 	  </div>
		 	</div>

		 	<div class="form-group">
		 	  <label class="control-label" for="productWarrantyTerms">Warranty terms</label>
		 	  <div class="controls">
   			  <%= raw(@product.warranty_terms)%>
		 	  </div>
		 	</div>
	
		 	<div class="form-group">
		 	  <label class="control-label" for="productWarrantyPeriod">Warranty period</label>
		 	  <div class="controls">
    			  <%= raw(@product.warranty_period)%>
		 	  </div>
		 	</div>
			
		    <table class="table table-hover">
		      <tr>
		        <th>
		          Left Angle Render
		        </th>
		        <th>
		          Right Angle Render
		        </th>
				<th>
				  Front Render
				</th>
				<th>
				  Decorated Front Render
				</th>
		      </tr>
			    	<tr class="paletteRow">
		          	  <td><%= link_to image_tag(@product.left_angle_render_url, alt: "No Image Set"), @product.left_angle_render_url, :data => { :colorbox => true} %></td>
					<td><%= link_to image_tag(@product.right_angle_render_url, alt: "No Image Set"), @product.right_angle_render_url, :data => { :colorbox => true} %></td>
		          	<td><%= link_to image_tag(@product.front_render_url, alt: "No Image Set"), @product.front_render_url, :data => { :colorbox => true} %></td>
					<td> <%= link_to image_tag(@product.decorated_front_render_url, alt: "No Image Set"), @product.front_render_url, :data => { :colorbox => true} %></td>
		        	</tr>
		    </table>
			
		    <table class="table table-hover">
		      <tr>
		        <th>
		          Inside view 1
		        </th>
		        <th>
		          Inside view 2
		        </th>
				<th>
				  Dimensions image 1
				</th>
				<th>
				  Dimensions image 2
				</th>
		      </tr>
			    	<tr class="paletteRow">
		          	  <td> <%= link_to image_tag(@product.inside_view_one, alt: "No Image Set"), @product.inside_view_one, :data => { :colorbox => true} %></td>
					<td> <%= link_to image_tag(@product.inside_view_two, alt: "No Image Set"), @product.inside_view_two, :data => { :colorbox => true} %></td>
		          	<td>  <%= link_to image_tag(@product.dimensions_image_one, alt: "No Image Set"), @product.dimensions_image_one, :data => { :colorbox => true} %></td>
					<td><%= link_to image_tag(@product.dimensions_image_two, alt: "No Image Set"), @product.dimensions_image_two, :data => { :colorbox => true} %></td>
		        	</tr>
		    </table>
			
			  <label class="control-label" for="productSketchupFileEmbedCode">Sketchup File</label>
			  <br/>
				<%= render(:partial => "sketchup_iframe", :object => {:product => @product}) %>
			  	
		<br/>
		<br>
        <div class="actions">
  		 <a href="<%= root_path %>">
  		  <button type="button" class="btn btn-default cancelColorButton">Go back to Home</button>
  	  	</a>
        </div>
    </div>

  </div>
</div>