<style type="text/css">
	.topnav {
    	width: 850px;
    	padding: 40px 28px 25px 0;
    	font-family: "CenturyGothicRegular", "Century Gothic", Arial, Helvetica, sans-serif;
	}

	ul.topnav {
    	padding: 0;
    	margin: 0;
    	font-size: 1em;
    	line-height: 0.5em;
    	list-style: none;
	}

	ul.topnav li {
    	list-style: none;
	}

	ul.topnav li a {
    	line-height: 10px;
    	font-size: 14px;
    	padding: 10px 5px;
    	color: #000;
    	display: block;
    	text-decoration: none;
    	font-weight: bolder;
	}

	ul.topnav li a:hover {
    	background-color:#675C7C;
    	color:white;
	}

	ul.topnav ul {
    	margin: 0;
    	padding: 0;
    	display: none;
	}

	ul.topnav ul li {
    	margin: 0;
    	padding: 0;
    	clear: both;
	}

	ul.topnav ul li a {
    	padding-left: 20px;
    	font-size: 13px;
    	font-weight: normal;
	}

	ul.topnav ul li a:hover {
    	background-color:#D3C99C;
    	color:#675C7C;
	}

	ul.topnav ul ul li a {
    	color:silver;
    	padding-left: 40px;
	}

	ul.topnav ul ul li a:hover {
    	background-color:#D3CEB8;
    	color:#675C7C;
	}
	
	#outer
	{
	    width:100%;
	    text-align: center;
	}
	.inner
	{
	    display: inline-block;
	}
	
	.crud_buttons {
		float: right;
	}
	
</style>

<% products = manage_products[:products] %>
<div class="container-fluid">
  <div class="row-fluid">
    <h4 class="sub-header" name="manage-products">Manage Products</h4>
 	<% if can? :create, Product %>
		<a href="/products/new" class="btn btn-primary new-create">New Product [+]</a>
	<% end %>
    <br/>
    <br/>
	
	<% current_product_code_id = nil %>
	<% if products.present? %>
    	<% products.each do |product| %>
	  		<% if current_product_code_id == nil %>
				<% current_product_code_id = product.product_code_id.to_s %>
					<ul class="topnav" style="margin-left:30px;">
						<li> 
							<a href="#"><%= ProductCode.find(current_product_code_id).name + "(" + Product.where(product_code: current_product_code_id).count.to_s + ") "%></a>
								<ul style="margin-left:30px;">
			<% end %>
			
			<% if current_product_code_id != product.product_code_id.to_s %>
				<% current_product_code_id = product.product_code_id.to_s %>
					</ul>
				</li>
					<li><a href="#"><%= ProductCode.find(current_product_code_id).name + "(" + Product.where(product_code: current_product_code_id).count.to_s + ") " %></a>
						<ul style="margin-left:30px;">
			<% end %>
			<li>
				<a href="#">
					<%= product.model_code if product.present? %> -- <%= product.title if product.present? %> -- <%= product.pricing if product.present? %> -- <%= product.palette_or_color if product.present? %>
					<div class="crud_buttons">
	  	   			 <% if can? :read, product %>
	  	  			  		<button type="button" class="btn btn-default viewProductButton" data-ProductId="<%= product.id %>">View</button>
						
	  				<% end %>
	     			 <% if can? :update, product %>
	    			  		<button type="button" class="btn btn-default editProductButton" data-ProductId="<%= product.id %>">Edit</button>
	  			<% end %>
	    			 <% if can? :destroy, product %>
	    			  <button type="button" class="btn btn-default deleteProductButton list-item" data-ProductId="<%= product.id %>">Delete</button>
	    			 <% end %> 
				 </div>
				 </a>
			</li>
			
		<% end # end of for loop %>
				</ul>
			</li>
		</ul>
      <% end # end of if %>
	  <br>
 	<% if can? :create, Product %>
		<a href="/products/new" class="btn btn-primary new-create">New Product [+]</a>
	<% end %>
  </div>
</div>

<script type="text/javascript">
 	
$(document).ready(function() {
//use the scriptbreaker.com multiple accordion menu
    $(".topnav").accordion({
        accordion:true,
        speed: 300,
        closedSign: '[+]',
        openedSign: '[-]'
    });
});

	$('.viewProductButton').click(function(event) {
    	var $target = $(event.currentTarget);
        var productId = $target.attr("data-productId");
	    window.location = "/products/" + productId;
	});

$('.editProductButton').click(function(event) {
    var $target = $(event.currentTarget);
    var productId = $target.attr("data-productId");
    window.location = "/products/" + productId + "/edit";
	
});

  $(".deleteProductButton").click(function(event){
     var $target = $(event.currentTarget);
     if(confirm("Are you sure that you want to delete the product?")){
       var productRow = $target.closest(".productRow");
       var productId = $target.attr("data-productId");
       doAjaxRequest("/products/"+productId+".json", "DELETE", null, "json", function(resp){
         $(productRow).remove();
       }, function(xhr, status, reason){
         alert("Could not delete the product - " + xhr.responseText)
       });
     }
  })
</script>
