<% products = manage_products[:products] %>
<div class="container-fluid" style="padding-top: 60px;padding-bottom: 60px;">
  <div class="row-fluid">
    <h3>Manage Products</h3>
 	<% if can? :create, Product %>
		<a href="/products/new" class="btn btn-primary" style="float: right">New Product [+]</a>
	<% end %>
    <br/>
    <br/>
    <table class="table table-hover">
      <tr>
        <th>
          Model
        </th>
        <th>
          Title
        </th>
        <th>
		  Pricing
        </th>
        <th>
          Palette/SL Code
        </th>
		<th>
		  Actions
		</th>
      </tr>
	  <% if products.present? %>
      <% products.each do |product| %>
        <tr class="productRow">
          <td>
            <%= product.model_code if product.present? %>
          </td>
          <td>
            <%= product.title if product.present? %>
          </td>
          <td>
            <%= product.pricing if product.present? %>
          </td>
          <td>
            <%= product.palette_or_color if product.present? %>
          </td>
          <td>
  			<div class="btn-group">
	   			 <% if can? :read, product %>
	  			 	<a href="/products/<%= product.id %>">
	  			  	<button type="button" class="btn btn-default editProductButton" data-ProductId="<%= product.id %>"> <span class="glyphicon glyphicon-edit"></span>View</button>
	  		  		</a>
				<% end %>
				
   			 <% if can? :update, product %>
  			 	<a href="/products/<%= product.id %>/edit">
  			  	<button type="button" class="btn btn-default editProductButton" data-ProductId="<%= product.id %>"> <span class="glyphicon glyphicon-edit"></span> Edit</button>
  		  		</a>
			<% end %>
  			 <% if can? :destroy, product %>
  			  <button type="button" class="btn btn-default deleteProductButton" data-ProductId="<%= product.id %>"> <span class="glyphicon glyphicon-remove"></span> Delete</button>
  			 <% end %> 
  			</div>
          </td>
        </tr>
		<% end %>
      <% end %>
    </table>
  </div>
</div>

<script type="text/javascript">
  $(".deleteProductButton").click(function(event){
     var $target = $(event.currentTarget);
     if(confirm("Are you sure that you want to delete the product?")){
       var productRow = $target.closest(".productRow");
       var productId = $target.attr("data-productId");
       doAjaxRequest("/products/"+productId+".json", "DELETE", null, "json", function(resp){
         $(productRow).remove();
       }, function(xhr, status, reason){
         alert("Could not delete the product - " + xhr.responseText)
       });
     }
  })
</script>
