<% palettes = manage_palettes[:palettes] %>
<div class="container-fluid" style="padding-top: 60px;padding-bottom: 60px;">
  <div class="row-fluid">
    <h3>Manage Palettes</h3>
 	<% if can? :create, Palette %>
		<a href="/palettes/new" class="btn btn-primary" style="float: right">New Palette [+]</a>
	<% end %>
    <br/>
    <br/>
    <table class="table table-hover">
      <tr>
        <th>
          Code
        </th>
        <th>
          Colors
        </th>
		<th>
			Actions
		</th>
      </tr>
	  <% if palettes.present? %>
      	<% palettes.each do |palette| %>
        	<tr class="paletteRow">
          	  <td>
            	  <%= palette.code %>
          	</td>
			<td>
			
			<% if palette.colors.present? %>
				<% palette.colors.each do |color| %>
					<%= color.code + " " %>
  	                <img alt="No Image set" style="max-height: 60px; max-width:60px;" src="<%= color.image_url %>"/>	
				<% end %>
			<% end %>
			</td>
          	<td>
				<div class="btn-group">
     			<% if can? :update, palette %>
				<a href="/palettes/<%= palette.id %>/edit">
				  <button type="button" class="btn btn-default editPaletteButton" data-PaletteId="<%= palette.id %>"> <span class="glyphicon glyphicon-edit"></span> Edit</button>
			  	</a>
				<% end %>
  				<% if can? :destroy, palette %>
				  <button type="button" class="btn btn-default deletePaletteButton" data-PaletteId="<%= palette.id %>"> <span class="glyphicon glyphicon-remove"></span> Delete</button>
				<% end %>
				</div>
          	</td>
        	</tr>
      	  <% end %>
	  <% end %>
    </table>
  </div>
</div>


<script type="text/javascript">
  $(".deletePaletteButton").click(function(event){
     var $target = $(event.currentTarget);
     if(confirm("Are you sure that you want to delete this Palette?")){
       var paletteRow = $target.closest(".paletteRow");
       var paletteId = $target.attr("data-paletteId");
       doAjaxRequest("/palettes/"+paletteId+".json", "DELETE", null, "json", function(resp){
         $(paletteRow).remove();
       }, function(xhr, status, reason){
         alert("Could not delete the product code - " + xhr.responseText)
       });
     }
  })
</script>