<% colors = manage_colors[:colors] %>
<div class="container-fluid">
  <div class="row-fluid">
    <h4 class="sub-header" name="manage-colors">Manage Laminate Colors</h3>
 	<% if can? :create, Color %>
   		<a href="/colors/new" class="btn btn-primary new-create">New Color [+]</a>
	<% end %>
    <br/>
    <br/>
	<div class="table-responsive">
	    <table class="table table-hover">
	      <tr>
	        <th>
	          Color Code
	        </th>
	        <th>
	          Information
	        </th>
			<th>
				Image
			</th>
			<th>
				Actions
			</th>
	      </tr>
		  <% if colors.present? %>
	      	<% colors.each do |color| %>
	        	<tr class="colorRow">
	          	  <td>
	            	  <%= color.code %>
	          	  </td>
				  <td>
					  <%= color.meta %>
				  </td>
				  <td>
		              <img alt="Image" class="small-image" src="<%= color.image_url %>"/>
				  </td>
	          	<td>
	      			 <% if can? :update, color %>
					 	<a href="/colors/<%= color.id %>/edit">
							<button type="button" title="Edit" class="btn btn-default editColorButton" data-colorId="<%= color.id %>">
								<span class="glyphicon glyphicon-edit"></span>
							</button>
						</a>
					 <% end %>
		  			 <% if can? :destroy, color %>
					  	<button type="button" title="Remove" class="btn btn-default deleteColorButton" data-colorId="<%= color.id %>">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					 <% end %>
	          	</td>
	        	</tr>
	      	  <% end %>
		  <% end %>
	    </table>
	</div>
 	<% if can? :create, Color %>
   		<a href="/colors/new" class="btn btn-primary new-create">New Color [+]</a>
	<% end %>
  </div>
</div>


<script type="text/javascript">
  $(".deleteColorButton").click(function(event){
     var $target = $(event.currentTarget);
     if(confirm("Are you sure that you want to delete the color?")){
       var colorRow = $target.closest(".colorRow");
       var colorId = $target.attr("data-colorId");
       doAjaxRequest("/colors/"+colorId+".json", "DELETE", null, "json", function(resp){
         $(colorRow).remove();
       }, function(xhr, status, reason){
         alert("Could not delete the palette - " + xhr.responseText)
       });
     }
  })
</script>
