<!DOCTYPE html>
<html>
<head>
  <title>Unsquad</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
        <a class="brand" href="<%= root_path %>"> <img style = "height: 80px; width: 80px;" src= '/assets/unsquad_logo.png' </a>
          <nav>
			  <ul class="hmenu">
				<li><%= link_to('Home |', root_path) %></li>
			    <%= render 'devise/menu/login_items' %>
			  </ul>
            <!-- <ul class="list-inline" style=" float: right;">
              <li><a href="<%= root_path %>">Home</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Sign in</a></li>
            </ul>
			-->
          </nav>
        </div>
      </div>
    </header>

		<br>				
		<br>
		
		<div class="container">
			<div class="center hero-unit">
			  <% flash.each do |key, value| %>
		  	  	<span class="error <%= key %>"><%= value %></span>
			  <% end %>
			  <%= yield %>
			</div>
			</div>
		<br>
		
    <div id="fileUploaderContainer" class="modal fade" tabindex="0" role="dialog" aria-labelledby="uploadFile" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <strong id="uploadFileHeader">Upload a File</strong>
          </div>

          <div class="modal-body">
            <div id="uploadContainer" class="modal-body">
              <%= render(:partial => "common/file_uploader" , :object => {}) %>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
